.home {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fbfbfd;
}

.home__row {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.cart__alert {
  position: fixed;
  z-index: 100;
  color: #ed3833;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 140px;
}

.home__filter__materials {
  position: fixed;
  z-index: 999;
  width: 10%;
  margin-left: 7px;
  padding: 7px;
}
.custom__badge {
  background: #1571e3 !important;
  margin-bottom: 10px !important;
  color: whitesmoke;
}
