.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-height: 600px;
  min-width: 100px;
  margin: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding: 20px;
  width: 100%;
  z-index: 1;
  margin-top: 100px;
}

.product__info {
  height: 100px;
  margin-bottom: 100px;
}

.product__img {
  max-height: 250px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  padding: 7px;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 3px;
}

.product__info > p {
  font-family: roboto;
  font-size: 15px;
}
.product__icons {
  display: flex;
}

.increment__product__icon {
  cursor: pointer;
  margin-left: 3px;
  margin-bottom: 5px;
  font-size: 30px !important;
  z-index: 1000;
}

.decrement__product__icon {
  cursor: pointer;
  margin-left: 3px;
  margin-bottom: 5px;
  font-size: 30px !important;
  z-index: 1000;
}
